a {
	text-decoration: none;
}

button {
	cursor: pointer
}

%stylebtn {
	border: 0px solid #4B51EF;
}

%styletext {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
}

$pd: 10.05px;

.users {
	margin: 0 auto;
	display: flex;

	max-width: 665px;
	max-height: 1028px;
	font-family: 'Roboto';

	.users__navbar {
		display: flex;
		flex-direction: column;
		max-width: 152px;
		max-height: 1028px;
		background: #BDBDBD;
		padding: 35.17px 26.35px 0 20.27px;

		span {
			color: #000000;
			margin-bottom: $pd;
			@extend %styletext;
		}

		button {
			background: #4B51EF;
			border-radius: 5px;
			color: #FFFFFF;
			width: 105.39px;
			height: 24.12px;
			@extend %styletext;
			@extend %stylebtn;
		}

		button:nth-child(even) {
			width: 86.13px;
			height: 24.12px;
			margin-bottom: $pd;
		}

	}

	.users__main {
		padding: 19px 59px 25px 34px;
		width: 665px;
		height: 1028px;
		left: 225px;

		h1,
		h2 {
			font-weight: 700;
			font-size: 14px;
			line-height: 16px;
			padding: 0;
			margin: 0 0 17px 0;
		}

		.users__main_header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10.88px;

			h2 {
				display: contents;
				align-items: center;
				// transform: translate(0, -50%)
			}

			button {
				width: 116.67px;
				height: 27.12px;
				background: #4B51EF;
				border-radius: 5px;
				color: #FFFFFF;
				@extend %stylebtn;
			}
		}

		.users__main_item {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 927px;
			@import './User/User.module.scss';
		}


		.users__main_countUser {
			margin-top: 10px;
			margin-bottom: 25px;
			display: flex;
			justify-content: flex-end;
			font-size: 12px;
			line-height: 14px;
		}
	}



}